@charset "utf-8";
/* CSS Document */

#search {
	width: auto;
}
#search #searchFilters {
	padding-top: 4px;
	padding-right: 3px;
	float: left;
}
#search #searchText {
	padding-top: 2px;
	padding-right: 3px;
	float: left;
}
/*-----autocomplete------*/
#autocomplete_n {
	position: absolute;
	top: 40px;
	z-index: 10;
	width: 415px;
	background-color: #FFDCAA;
	visibility: hidden;
}
.auto_row {
	width: inherit;
	clear: both;
}
.auto_cat {
	display: block;
	float: left;
	width: 115px;
	vertical-align: center;
}
.auto_obj {
	display: block;
	float: right;
	width: 300px;
	border-left: 1px #999;
	overflow:hidden;
}
.img_xs {
	float: left;
	width: 20px;	
}
